*{
    box-sizing: border-box;
    margin: 0px;
}

.nav_bar{
    display: flex;
    flex-flow: wrap row;
    background-color: #38c5f2;
}

.search{
    display: flex;
}
.input{
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
}
.button{
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
    background-color: black;
    color: white;
    font-weight: bold;
    font-size: 15px;
    width: 15vh;
}

.left{
    width: 30%;
    padding-left: 2%;
}
.right{
    width: 70%;
    display: flex;
    flex-flow: wrap row;
    justify-content: space-around;
    align-content: center;
}

.nav{
    width: 6vh;
    height: 6vh;
}

.text{
    padding: 2% 8%;
    font-size: 20px;
}

span{
    font-weight: bold;
    font-size: 25px;
}

.pics{
    width: 100%;
    display: flex;
    flex-flow: nowrap row;
    justify-content:space-evenly;
}

.pic{
    border-radius: 15px;
    width: 80vh;
}